.recipe{
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 10px 10px 30px hsl(0, 0%, 25%) ;

}
.recipe h2{
  background-image: linear-gradient(hsl(0, 0%, 0%,0.9),hsl(0, 0%, 0%,0));
  color: hsl(0, 100%,100%);
  margin: 0;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.recipe .tags{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25vw;
  padding: 1.5vw 0.25vw 0.25vw 0.25vw;
  bottom: 0;
  background-image: linear-gradient(hsla(0, 0%, 100%, 0),hsla(0, 0%, 100%, 0.9));
  
}

.recipe .tags .tag{
  background-color: lightcoral;
  border-radius: 00.25vw;
  padding: 00.25vw;
}
